body{
    margin: 0px;
    padding: 0px;
}

.botton{
    background-color: #000000;
    border-radius: 20px;
    color: white;
}

.text-uppercase {
    text-transform: uppercase;
    color: blueviolet;
}

a {
    text-decoration: none;
    color: white; 
}

input{
    margin-top: 4px;
    
}

.bg-mynav{
    background-color: #3a3837;
}

.connor{
    border-radius: 40px ;
}